<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.0"/>
    <authentication>
      <forms name="form1" loginUrl="~/Loginres.aspx" defaultUrl="~/AdminHome.aspx">
        <credentials passwordFormat="Clear">
          <user name="admin" password="admin123"/>
        </credentials>
      </forms>
    </authentication>
    <!--<pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral,PublicKeyToken=31bf3856ad364e35"/>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
      </controls>
   <controls>-->
    <siteMap>
      <providers>
        <add name="Provider1" siteMapFile="Customer.sitemap" type="System.Web.XmlSiteMapProvider" />
        <add name="Provider2" siteMapFile="Admin.sitemap" type="System.Web.XmlSiteMapProvider" />
      </providers>
    </siteMap>
    <pages>
      <controls>
        <add tagPrefix="ajaxtoolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolKit"/>
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit, Version=1.0.10920.16768, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e"/>
      </controls>
    </pages>
    <!--<pages>
      <controls>

        <add tagPrefix="asp" namespace="System.Web.UI"
       assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, 
PublicKeyToken=31bf3856ad364e35"/>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"
            tagPrefix="ajaxToolkit"/>
      </controls>
    </pages>-->
    <!-- <pages>
    <pages>
      <controls>
        <add tagPrefix="ajax" namespace="AjaxControlToolKit" assembly="AjaxControlToolKit"/>
         
      </controls>
    </pages>-->
  </system.web>
  <!--
      <authorization>
        <deny users="?" />
        <allow users="admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
    -->
  <connectionStrings>
    <add name="Conn" connectionString="Data Source=intvmsql;Initial Catalog=DB03TMS65;User id = PJ03TMS65;Password=tcstvm"/>
    <add name="DB03TMS65ConnectionString" connectionString="Data Source=intvmsql;Initial Catalog=DB03TMS65;User ID=PJ03TMS65;Password=tcstvm" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    <add name="Conn" connectionString="Data Source=intvmsql;Initial Catalog=DB03TMS65;User id = PJ03TMS65;Password=tcstvm"/>
  </connectionStrings>-->
</configuration>